//
//authentication.scss
//

.bg-auth {
  padding: 40px 0;
  background-color: rgba($primary, 0.1);
  align-items: center;
  display: flex;
  min-height: 100vh;
  @media (max-width: 991.98px) {
    padding: 60px 0;
  }
}

.auth-box {
  border: none;
  box-shadow: $box-shadow-lg;
  border-radius: 10px;
  overflow: hidden;
  .auth-content {
    background-color: darken($primary, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .logo-dark {
    display: inline-block;
  }
  .logo-light {
    display: none;
  }
  .auth-form {
    .form-control {
      color: $white;
      border-color: rgba($white, 0.1);
      background-color: rgba($white, 0.1);
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba($white, 0.45);
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba($white, 0.45);
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba($white, 0.45);
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba($white, 0.45);
      }
    }
  }
}

/*****************dark-mode******************/

body[data-layout-mode="dark"] {
  .bg-auth {
    background-color: $gray-dark-300;
  }
  .auth-box {
    background-color: $gray-dark-300;
    box-shadow: 0 5px 13px rgba($gray-800, 0.1);
    .logo-light {
      display: inline-block;
    }
    .logo-dark {
      display: none;
    }
  }
}
