<!-- START SUBSCRIBE -->
<section className="bg-subscribe">
  <div className="container">
    <div className="row justify-content-between align-items-center">
      <div className="col-lg-6">
        <div className="text-center text-lg-start">
          <h4 className="text-white">Get New Jobs Notification!</h4>
          <p className="text-white-50 mb-0">
            Subscribe & get all related jobs notification.
          </p>
        </div>
      </div>
      <div className="col-lg-6">
        <div className="mt-4 mt-lg-0">
          <form className="subscribe-form" action="#">
            <div
              className="input-group justify-content-center justify-content-lg-end"
            >
              <input
                type="text"
                className="form-control"
                id="subscribe"
                placeholder="Enter your email"
              />
              <button
                className="btn btn-primary"
                type="button"
                id="subscribebtn"
              >
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div className="email-img d-none d-lg-block">
    <img src="assets/images/subscribe.png" alt="" className="img-fluid" />
  </div>
</section>

<section className="bg-footer">
  <div className="container">
    <div className="row">
      <div className="col-lg-4">
        <div className="footer-item mt-4 mt-lg-0 me-lg-5">
          <h4 className="text-white mb-4">Jobcy</h4>
          <p className="text-white-50">
            It is a long established fact that a reader will be of a page reader
            will be of at its layout.
          </p>
          <p className="text-white mt-3">Follow Us on:</p>
          <ul className="footer-social-menu list-inline mb-0">
            <li className="list-inline-item">
              <a href="#"><i className="uil uil-facebook-f"></i></a>
            </li>
            <li className="list-inline-item">
              <a href="#"><i className="uil uil-linkedin-alt"></i></a>
            </li>
            <li className="list-inline-item">
              <a href="#"><i className="uil uil-google"></i></a>
            </li>
            <li className="list-inline-item">
              <a href="#"><i className="uil uil-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--end col-->
      <div className="col-lg-2 col-6">
        <div className="footer-item mt-4 mt-lg-0">
          <p className="fs-16 text-white mb-4">Company</p>
          <ul className="list-unstyled footer-list mb-0">
            <li>
              <a href=""><i className="mdi mdi-chevron-right"></i> About Us</a>
            </li>
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Contact Us</a
              >
            </li>
            <li>
              <a href=""><i className="mdi mdi-chevron-right"></i> Services</a>
            </li>
            <li>
              <a href=""><i className="mdi mdi-chevron-right"></i> Blog</a>
            </li>
            <li>
              <a href=""><i className="mdi mdi-chevron-right"></i> Team</a>
            </li>
            <li>
              <a href=""><i className="mdi mdi-chevron-right"></i> Pricing</a>
            </li>
          </ul>
        </div>
      </div>
      <!--end col-->
      <div className="col-lg-2 col-6">
        <div className="footer-item mt-4 mt-lg-0">
          <p className="fs-16 text-white mb-4">For Jobs</p>
          <ul className="list-unstyled footer-list mb-0">
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Browser Categories</a
              >
            </li>
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Browser Jobs</a
              >
            </li>
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Job Details</a
              >
            </li>
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Bookmark Jobs</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!--end col-->
      <div className="col-lg-2 col-6">
        <div className="footer-item mt-4 mt-lg-0">
          <p className="text-white fs-16 mb-4">For Candidates</p>
          <ul className="list-unstyled footer-list mb-0">
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Candidate List</a
              >
            </li>
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Candidate Grid</a
              >
            </li>
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Candidate Details</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!--end col-->
      <div className="col-lg-2 col-6">
        <div className="footer-item mt-4 mt-lg-0">
          <p className="fs-16 text-white mb-4">Support</p>
          <ul className="list-unstyled footer-list mb-0">
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Help Center</a
              >
            </li>
            <li>
              <a href=""><i className="mdi mdi-chevron-right"></i> FAQ'S</a>
            </li>
            <li>
              <a href=""
                ><i className="mdi mdi-chevron-right"></i> Privacy Policy</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- END FOOTER -->

<!-- START FOOTER-ALT -->
<div className="footer-alt">
  <div className="container">
    <div className="row">
      <div className="col-lg-12">
        <p className="text-white-50 text-center mb-0">
          <script>
            document.write(new Date().getFullYear());
          </script>
          &copy; Jobcy - Job Listing Page Template by
          <a
            href=""
            target="_blank"
            className="text-reset text-decoration-underline"
            >Themesdesign</a
          >
        </p>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</div>
<!-- END FOOTER -->
