<!-- Style switcher -->
<div id="style-switcher" onclick="toggleSwitcher()" style="left: -165px">
  <div>
    <h6>Select your color</h6>
    <ul className="pattern list-unstyled mb-0">
      <li>
        <a
          className="color-list color1"
          href="javascript: void(0);"
          onclick="setColorGreen()"
        ></a>
      </li>
      <li>
        <a
          className="color-list color2"
          href="javascript: void(0);"
          onclick="setColor('blue')"
        ></a>
      </li>
      <li>
        <a
          className="color-list color3"
          href="javascript: void(0);"
          onclick="setColor('green')"
        ></a>
      </li>
    </ul>
    <div className="mt-3">
      <h6>Light/dark Layout</h6>
      <div className="text-center mt-3">
        <!-- light-dark mode -->
        <a
          href="javascript: void(0);"
          id="mode"
          className="mode-btn text-white rounded-3"
        >
          <i className="uil uil-brightness mode-dark mx-auto"></i>
          <i className="uil uil-moon mode-light"></i>
        </a>
        <!-- END light-dark Mode -->
      </div>
    </div>
  </div>
  <div className="bottom d-none d-md-block">
    <a href="javascript: void(0);" className="settings rounded-end"
      ><i className="mdi mdi-cog mdi-spin"></i
    ></a>
  </div>
</div>
<!-- end switcher-->

<!--start back-to-top-->
<button onclick="topFunction()" id="back-to-top">
  <i className="mdi mdi-arrow-up"></i>
</button>
<!--end back-to-top-->
