<meta charset="utf-8" />
<title>@@title | Jobcy - Job Listing Template | Themesdesign</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content=" " />
<meta name="keywords" content="" />
<meta content="Themesdesign" name="author" />

<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico" />
