<!-- START TOP-BAR -->
<div className="top-bar">
  <div className="container-fluid custom-container">
    <div className="row g-0 align-items-center">
      <div className="col-md-7">
        <ul className="list-inline mb-0 text-center text-md-start">
          <li className="list-inline-item">
            <p className="fs-13 mb-0">
              <i className="mdi mdi-map-marker"></i> Your Location:
              <a href="#" className="text-dark">New Caledonia</a>
            </p>
          </li>
          <li className="list-inline-item">
            <ul className="topbar-social-menu list-inline mb-0">
              <li className="list-inline-item">
                <a href="#" className="social-link"
                  ><i className="bi bi-whatsapp black"></i
                ></a>
              </li>
              <li className="list-inline-item">
                <a href="#" className="social-link"
                  ><i className="uil uil-facebook-messenger-alt"></i
                ></a>
              </li>
              <li className="list-inline-item">
                <a href="#" className="social-link"
                  ><i className="uil uil-instagram"></i
                ></a>
              </li>
              <li className="list-inline-item">
                <a href="#" className="social-link"
                  ><i className="bi bi-x-square-fill"></i
                ></a>
              </li>
              <li className="list-inline-item">
                <a href="#" className="social-link"
                  ><i className="uil uil-twitter-alt"></i
                ></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div className="col-md-5">
        <ul className="list-inline mb-0 text-center text-md-end">
          <li className="list-inline-item py-2 me-2 align-middle">
            <a
              href="#signupModal"
              className="text-dark fw-medium fs-13"
              data-bs-toggle="modal"
              ><i className="uil uil-lock"></i> Sign Up</a
            >
          </li>
          <li className="list-inline-item align-middle">
            <div className="dropdown d-inline-block language-switch">
              <button
                type="button"
                className="btn"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  id="header-lang-img"
                  src="assets/images/flags/us.jpg"
                  alt="Header Language"
                  height="16"
                />
              </button>
              <div className="dropdown-menu dropdown-menu-end">
                <!-- item-->
                <a
                  href="#;"
                  className="dropdown-item notify-item language"
                  data-lang="eng"
                >
                  <img
                    src="assets/images/flags/us.jpg"
                    alt="user-image"
                    className="me-1"
                    height="12"
                  />
                  <span className="align-middle">English</span>
                </a>
                <!-- item-->
                <a
                  href="#;"
                  className="dropdown-item notify-item language"
                  data-lang="sp"
                >
                  <img
                    src="assets/images/flags/spain.jpg"
                    alt="user-image"
                    className="me-1"
                    height="12"
                  />
                  <span className="align-middle">Spanish</span>
                </a>
                <!-- item-->
                <a
                  href="#;"
                  className="dropdown-item notify-item language"
                  data-lang="gr"
                >
                  <img
                    src="assets/images/flags/germany.jpg"
                    alt="user-image"
                    className="me-1"
                    height="12"
                  />
                  <span className="align-middle">German</span>
                </a>
                <!-- item-->
                <a
                  href="#;"
                  className="dropdown-item notify-item language"
                  data-lang="it"
                >
                  <img
                    src="assets/images/flags/italy.jpg"
                    alt="user-image"
                    className="me-1"
                    height="12"
                  />
                  <span className="align-middle">Italian</span>
                </a>
                <!-- item-->
                <a
                  href="#;"
                  className="dropdown-item notify-item language"
                  data-lang="ru"
                >
                  <img
                    src="assets/images/flags/russia.jpg"
                    alt="user-image"
                    className="me-1"
                    height="12"
                  />
                  <span className="align-middle">Russian</span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</div>
<!-- END TOP-BAR -->

<!--Navbar Start-->
<nav className="navbar navbar-expand-lg fixed-top sticky" id="navbar">
  <div className="container-fluid custom-container">
    <a className="navbar-brand text-dark fw-bold me-auto" href="/">
      <img
        src="assets/images/logo-dark.png"
        height="22"
        alt=""
        className="logo-dark"
      />
      <img
        src="assets/images/logo-light.png"
        height="22"
        alt=""
        className="logo-light"
      />
    </a>
    <div>
      <button
        className="navbar-toggler me-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-label="Toggle navigation"
      >
        <i className="mdi mdi-menu"></i>
      </button>
    </div>
    <div className="collapse navbar-collapse" id="navbarCollapse">
      <ul className="navbar-nav mx-auto navbar-center">
        <li className="nav-item dropdown dropdown-hover">
          <a
            className="nav-link"
            href="#"
            id="homedrop"
            role="button"
            data-bs-toggle="dropdown"
          >
            Home
            <div className="arrow-down"></div>
          </a>
          <ul
            className="dropdown-menu dropdown-menu-center"
            aria-labelledby="homedrop"
          >
            <li><a className="dropdown-item" href="/">Home 1</a></li>
            <li><a className="dropdown-item" href="/">Home 2</a></li>
            <li><a className="dropdown-item" href="/">Home 3</a></li>
          </ul>
        </li>
        <li className="nav-item dropdown dropdown-hover">
          <a
            className="nav-link"
            href="#"
            id="jobsdropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            Company
            <div className="arrow-down"></div>
          </a>
          <ul
            className="dropdown-menu dropdown-menu-center"
            aria-labelledby="jobsdropdown"
          >
            <li><a className="dropdown-item" href="/">About Us</a></li>
            <li>
              <a className="dropdown-item" href="/">Services</a>
            </li>
            <li><a className="dropdown-item" href="/">Team</a></li>
            <li>
              <a className="dropdown-item" href="/">Pricing</a>
            </li>
            <a className="dropdown-item" href="/">Priacy & Policy</a>
            <li><a className="dropdown-item" href="/">Faqs</a></li>
          </ul>
        </li>
        <li className="nav-item dropdown dropdown-hover">
          <a
            className="nav-link"
            href="#"
            id="pagesdoropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            Pages
            <div className="arrow-down"></div>
          </a>
          <div
            className="dropdown-menu dropdown-menu-lg dropdown-menu-center"
            aria-labelledby="pagesdoropdown"
          >
            <div className="row">
              <div className="col-lg-4">
                <span className="dropdown-header">Jobs</span>
                <div>
                  <a className="dropdown-item" href="/">Job List</a>
                  <a className="dropdown-item" href="/">Job List-2</a>
                  <a className="dropdown-item" href="/">Job Grid</a>
                  <a className="dropdown-item" href="/">Job Grid-2</a>
                  <a className="dropdown-item" href="/">Job Details</a>
                  <a className="dropdown-item" href="/">Jobs Categories</a>
                </div>
              </div>
              <!--end col-->
              <div className="col-lg-4">
                <span className="dropdown-header">Candidates / Companys</span>
                <div>
                  <a className="dropdown-item" href="/">Candidate List</a>
                  <a className="dropdown-item" href="/">Candidate Grid</a>
                  <a className="dropdown-item" href="/">Candidate Details</a>
                  <a className="dropdown-item" href="/">Company List</a>
                  <a className="dropdown-item" href="/">Company Details</a>
                </div>
              </div>
              <!--end col-->
              <div className="col-lg-4">
                <span className="dropdown-header">Extra Pages</span>
                <div>
                  <a className="dropdown-item" href="/">Sign Up</a>
                  <a className="dropdown-item" href="/">Sign In</a>
                  <a className="dropdown-item" href="/">Sign Out</a>
                  <a className="dropdown-item" href="/">Reset Password</a>
                  <a className="dropdown-item" href="/">Coming Soon</a>
                  <a className="dropdown-item" href="/">404 Error</a>
                  <a className="dropdown-item" href="/">Components</a>
                </div>
              </div>
              <!--end col-->
            </div>
          </div>
        </li>
        <!--end dropdown-->
        <li className="nav-item dropdown dropdown-hover">
          <a
            className="nav-link"
            href="#"
            id="productdropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Blog
            <div className="arrow-down"></div>
          </a>
          <ul
            className="dropdown-menu dropdown-menu-center"
            aria-labelledby="productdropdown"
          >
            <li><a className="dropdown-item" href="/">Blog</a></li>
            <li>
              <a className="dropdown-item" href="/">Blog Grid</a>
            </li>
            <li>
              <a className="dropdown-item" href="/">Blog Modern</a>
            </li>
            <li>
              <a className="dropdown-item" href="/">Blog Masonry</a>
            </li>
            <li>
              <a className="dropdown-item" href="/">Blog details</a>
            </li>
            <li>
              <a className="dropdown-item" href="/">Blog Author</a>
            </li>
          </ul>
        </li>
        <!--end dropdown-->
        <li className="nav-item">
          <a href="/" className="nav-link">Contact</a>
        </li>
      </ul>
      <!--end navbar-nav-->
    </div>
    <!--end navabar-collapse-->
    <ul className="header-menu list-inline d-flex align-items-center mb-0">
      <li className="list-inline-item dropdown me-4">
        <a
          href="#"
          className="header-item noti-icon position-relative"
          id="notification"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i className="mdi mdi-bell fs-22"></i>
          <div className="count position-absolute">3</div>
        </a>
        <div
          className="dropdown-menu dropdown-menu-sm dropdown-menu-end p-0"
          aria-labelledby="notification"
        >
          <div className="notification-header border-bottom bg-light">
            <h6 className="mb-1">Notification</h6>
            <p className="text-muted fs-13 mb-0">
              You have 4 unread Notification
            </p>
          </div>
          <div className="notification-wrapper dropdown-scroll">
            <a href="#" className="text-dark notification-item d-block active">
              <div className="d-flex align-items-center">
                <div className="flex-shrink-0 me-3">
                  <div
                    className="avatar-xs bg-primary text-white rounded-circle text-center"
                  >
                    <i className="uil uil-user-check"></i>
                  </div>
                </div>
                <div className="flex-grow-1">
                  <h6 className="mt-0 mb-1 fs-14">22 verified registrations</h6>
                  <p className="mb-0 fs-12 text-muted">
                    <i className="mdi mdi-clock-outline"></i>
                    <span>3 min ago</span>
                  </p>
                </div>
              </div> </a
            ><!--end notification-item-->
            <a href="#" className="text-dark notification-item d-block">
              <div className="d-flex align-items-center">
                <div className="flex-shrink-0 me-3">
                  <img
                    src="assets/images/user/img-02.jpg"
                    className="rounded-circle avatar-xs"
                    alt="user-pic"
                  />
                </div>
                <div className="flex-grow-1">
                  <h6 className="mt-0 mb-1 fs-14">James Lemire</h6>
                  <p className="text-muted fs-12 mb-0">
                    <i className="mdi mdi-clock-outline"></i>
                    <span>15 min ago</span>
                  </p>
                </div>
              </div> </a
            ><!--end notification-item-->
            <a href="#" className="text-dark notification-item d-block">
              <div className="d-flex align-items-center">
                <div className="flex-shrink-0 me-3">
                  <img
                    src="assets/images/featured-job/img-04.png"
                    className="rounded-circle avatar-xs"
                    alt="user-pic"
                  />
                </div>
                <div className="flex-grow-1">
                  <h6 className="mt-0 mb-1 fs-14">
                    Applications has been approved
                  </h6>
                  <p className="text-muted mb-0 fs-12">
                    <i className="mdi mdi-clock-outline"></i>
                    <span>45 min ago</span>
                  </p>
                </div>
              </div> </a
            ><!--end notification-item-->
            <a href="#" className="text-dark notification-item d-block">
              <div className="d-flex align-items-center">
                <div className="flex-shrink-0 me-3">
                  <img
                    src="assets/images/user/img-01.jpg"
                    className="rounded-circle avatar-xs"
                    alt="user-pic"
                  />
                </div>
                <div className="flex-grow-1">
                  <h6 className="mt-0 mb-1 fs-14">Kevin Stewart</h6>
                  <p className="text-muted mb-0 fs-12">
                    <i className="mdi mdi-clock-outline"></i>
                    <span>1 hour ago</span>
                  </p>
                </div>
              </div> </a
            ><!--end notification-item-->
            <a href="#" className="text-dark notification-item d-block">
              <div className="d-flex align-items-center">
                <div className="flex-shrink-0 me-3">
                  <img
                    src="assets/images/featured-job/img-01.png"
                    className="rounded-circle avatar-xs"
                    alt="user-pic"
                  />
                </div>
                <div className="flex-grow-1">
                  <h6 className="mt-0 mb-1 fs-15">Creative Agency</h6>
                  <p className="text-muted mb-0 fs-12">
                    <i className="mdi mdi-clock-outline"></i>
                    <span>2 hour ago</span>
                  </p>
                </div>
              </div> </a
            ><!--end notification-item-->
          </div>
          <!--end notification-wrapper-->
          <div className="notification-footer border-top text-center">
            <a className="primary-link fs-13" href="#">
              <i className="mdi mdi-arrow-right-circle me-1"></i>
              <span>View More..</span>
            </a>
          </div>
        </div>
      </li>
      <li className="list-inline-item dropdown">
        <a
          href="#"
          className="header-item"
          id="userdropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="assets/images/profile.jpg"
            alt="mdo"
            width="35"
            height="35"
            className="rounded-circle me-1"
          />
          <span className="d-none d-md-inline-block fw-medium">Hi, Jansh</span>
        </a>
        <ul
          className="dropdown-menu dropdown-menu-end"
          aria-labelledby="userdropdown"
        >
          <li>
            <a className="dropdown-item" href="/">Manage Jobs</a>
          </li>
          <li>
            <a className="dropdown-item" href="/">Bookmarks Jobs</a>
          </li>
          <li>
            <a className="dropdown-item" href="/">My Profile</a>
          </li>
          <li><a className="dropdown-item" href="/">Logout</a></li>
        </ul>
      </li>
    </ul>
    <!--end header-menu-->
  </div>
  <!--end container-->
</nav>
<!-- Navbar End -->

<!-- START SIGN-UP MODAL -->
<div className="modal fade" id="signupModal" tabindex="-1" aria-hidden="true">
  <div className="modal-dialog modal-dialog-centered">
    <div className="modal-content">
      <div className="modal-body p-5">
        <div className="position-absolute end-0 top-0 p-3">
          <button
            type="button"
            className="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div className="auth-content">
          <div className="w-100">
            <div className="text-center mb-4">
              <h5>Sign Up</h5>
              <p className="text-muted">
                Sign Up and get access to all the features of Jobcy
              </p>
            </div>
            <form action="#" className="auth-form">
              <div className="mb-3">
                <label for="usernameInput" className="form-label"
                  >Username</label
                >
                <input
                  type="text"
                  className="form-control"
                  id="usernameInput"
                  placeholder="Enter your username"
                />
              </div>
              <div className="mb-3">
                <label for="passwordInput" className="form-label">Email</label>
                <input
                  type="email"
                  className="form-control"
                  id="emailInput"
                  placeholder="Enter your email"
                />
              </div>
              <div className="mb-3">
                <label for="emailInput" className="form-label">Password</label>
                <input
                  type="password"
                  className="form-control"
                  id="passwordInput"
                  placeholder="Password"
                />
              </div>
              <div className="mb-4">
                <div className="form-check">
                  <input
                    className="form-check-input"
                    type="checkbox"
                    id="flexCheckDefault"
                  />
                  <label className="form-check-label" for="flexCheckDefault"
                    >I agree to the
                    <a
                      href="#"
                      className="text-primary form-text text-decoration-underline"
                      >Terms and conditions</a
                    ></label
                  >
                </div>
              </div>
              <div className="text-center">
                <button type="submit" className="btn btn-primary w-100">
                  Sign Up
                </button>
              </div>
            </form>
            <div className="mt-3 text-center">
              <p className="mb-0">
                Already a member ?
                <a
                  href="/"
                  className="form-text text-primary text-decoration-underline"
                >
                  Sign-in
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--end modal-body-->
    </div>
    <!--end modal-content-->
  </div>
  <!--end modal-dialog-->
</div>
<!-- END SIGN-UP MODAL -->
